@using Yaplex.SEO
@model Yaplex.SEO.ViewModels.RobotsViewModel
@{
    Layout.Title = T("Robots");
}
<h2>@T("Yaplex Robots.txt Settings")</h2>
@using (Html.BeginFormAntiForgeryPost()) {
    @Html.ValidationSummary()
    <fieldset>
        <legend>@T("Robots.txt")</legend>
        <div class="form-group">
            @Html.TextAreaFor(m => m.RobotsTxt, 20, 75, new {
                @class = "text large"
            })
            @Html.Hint(T("robots.txt content. Use the term '" + Constants.DomainMarker + "' to enable dynamic substitution of the base domain name."))
        </div>
    </fieldset>
    <button class="primaryAction" type="submit">@T("Save")</button>
}